<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882762476840-q9qqjslbipe1dngahjfj6ptmrr246asm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882762476840-q9qqjslbipe1dngahjfj6ptmrr246asm</string>
	<key>API_KEY</key>
	<string>AIzaSyAR-hiROVeO48QmR44U78G7TVSM2yV85RA</string>
	<key>GCM_SENDER_ID</key>
	<string>882762476840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PunchCard</string>
	<key>PROJECT_ID</key>
	<string>lavalab-23235</string>
	<key>STORAGE_BUCKET</key>
	<string>lavalab-23235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:882762476840:ios:f350535ce71f402fcdf41d</string>
</dict>
</plist>
